# Providing absolute paths are not necessary if desired binaries are in $PATH
SAMTOOLS=/path/to/samtools
BCFTOOLS=/path/to/bcftools
REMOVE3_5=/path/to/remove_3prime_5prime_variants
JAVA=/path/to/java
# Picard required
MARK_DUP=/path/to/MarkDuplicates.jar
SORT_SAM=/path/to/SortSam.jar

# Max java memory to use
JAVAMEM=10g
# Max threads to use
THREADS=64
# Minimum mapping quality. For STAR-based alignments use 255
MINMAPQUAL=255
# Header to directory and resulting files. If not provided, determined dynamically from first bam file
HEADER=input-header

# Bam files to use, space separated on one line
BAM=input.bam input2.bam
# Reference genome used for alignment
REFERENCE=/path/to/reference.fa
