# Parameters for RNAvc
JAVAMEM=10g
# Number of concurrent threads (includes # of concurrent samtools processes for variant calling)
THREADS=16
# Minimum mapping quality (255 for STAR)
MINMAPQUAL=255
# Minimum depth of coverage
MINDP=2

# Static assignment of some locations (can be overwritten by config or command line options
#
# These should be same for each installation
PICARD=/path/to/picard-tools-1.108/
SAMTOOLS=/path/to/samtools
BCFTOOLS=/path/to/bcftools
BEDTOOLS=/path/to/bedtools

# Organism specific annotations
REFERENCE=/path/to/reference.fa
GBM_MODEL=/path/to/gbm.model
ANNOTATION=/path/to/reference.gtf
INTRON=/path/to/intron.bed
REPEAT_INTERVALS=/path/to/repeats.bed
# Not needed for training model, but can be used to verify model 
EDIT_DB=/path/to/RADAR.bed
